@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff)
    format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  background: #dedede97;
  font-family: 'San Francisco', Lato, sans-serif;
  overflow: auto;
  height: 100vh;
  width: 100%;
}
.container {
  margin-top: 100px;
}
.total-box {
  background: rgba(256, 256, 256, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.detail-container,
#expense-box {
  min-width: 500px;
  background: rgba(256, 256, 256, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.list-item {
  background: rgba(256, 256, 256, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.list-edit {
  background: rgba(256, 256, 256, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.back-btn {
  font-size: medium;
  color: rgb(255, 255, 255);
  background: rgba(11, 31, 48, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.fa-edit:hover {
  color: #3e79dd;
}

.fa-trash-alt:hover {
  color: #cc2222;
}

.fa-grin-beam {
  color: #d3d06f;
}
.fa-utensils {
  color: rgb(41, 39, 41);
}
.fa-home {
  color: #b194da;
}
.fa-shuttle-van {
  color: #45ae80;
}
.fa-pen {
  color: rgb(230, 150, 116);
}
#add-button {
  color: #666;
  font-size: medium;
  background: rgba(255, 240, 214, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#add-button:hover {
  color: rgb(203, 76, 76);
}
#expense-box {
  height: 53vh;
  overflow-y: auto;
}

.btn-submit {
  background: rgba(8, 33, 96, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.item-list {
  background: rgba(250, 247, 247, 0.6);
}
